$blue: rgb(35, 94, 255);

* {
  font-family: "Baloo Thambi 2";
}

#heading {
  text-align: center;
  font-weight: bold;
  font-size: 4em;
  color: $blue;
}

#progress {
  h1 {
    text-align: center;
    font-size: 2em;
    margin: auto;
  }
}

#root {
  width: 24em;
  margin: auto;
}

#dashboard {
  text-align: center;
  h1 {
    font-size: 2em;
    margin: auto;
  }
}

.card {
  border-radius: 1em;
  box-shadow: 0px 0px 10px lightgray;
  border: 1px solid lightgray;
  padding: 1em;
  margin: 1em 0;
}
@mixin button {
  padding: 0.5em;
  background-color: $blue;
  border-radius: 1em;
  color: white;
  border: 0.2em solid $blue;
}

.nav-item {
  @include button();

  font-weight: 600;
  font-size: 1.2em;
  width: 5em;
  text-align: center;
}

button {
  @include button();
  font-weight: 500;
  font-size: 1em;
  width: 100%;
}

@mixin hover {
  border: 0.2em solid $blue;
  background-color: white;
  color: $blue;
  transition: 0.3s;
}

button:hover {
  @include hover();
}

.nav-item:hover {
  @include hover();
}

.workout {
  h1 {
    text-align: center;
    margin: auto;
    font-size: 2em;
  }
  h2 {
    text-align: center;
    font-weight: 500;
    margin: auto;
  }
  .time {
    color: gray;
    text-align: center;
    margin-bottom: 0.5em;
  }
}

.set {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.1em solid lightgray;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 0.5em;
}

.set-field {
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.5em;
  border-radius: 0.5em;;
  border: 0.1em solid lightgray;
}

.set-field:focus {
  border: 0.1em solid $blue;
}

.set-field-group {
  display: flex;
  margin-bottom: 0.5em;
  align-items: center;
  button {
    width: 2em;
    font-size: 1em;
    font-weight: 500;
    padding: 0.1em;
    margin-left: 0.5em;
  }
}

.footer-links {
  display: flex;
  justify-content: space-around;
}

footer {
  padding: 2em;
  margin-top: 2em;
  border-top: 0.1em solid lightgray;
}

.footer-link {
  color: grey;
}

.footer-link:hover {
  color: $blue;
}

.copyright {
  text-align: center;
  margin-top: 3em;
  color: grey;
}

.week {
  display: flex;
  justify-content: space-around;
  padding: 1em;
  border: 0.1em solid lightgray;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}

#submit {
  margin-top: 1em;
}

.delete {
  background-color: rgb(255, 72, 72);
  color: white;
  border: 0.2em solid rgb(255, 72, 72);
  box-sizing: border-box;
}

.delete:hover {
  background-color: white;
  border: 0.2em solid rgb(255, 72, 72);
  color: rgb(255, 72, 72);
  box-sizing: border-box;
}

#stats {
  h1 {
    text-align: center;
    margin: auto;
  }
}

.card-subheader {
  margin: 1em 0 0.5em 0 !important;
}

.card-header {
  margin-top: 0;
  margin-bottom: 0.5em;
  text-align: center;
  font-size: 2em;
}

.forgot {
  text-align: center;
  color: gray;
  margin-top: 0.5em;
}

.forgot:hover {
  color: $blue;
}